{% extends 'scholarship/base.html' %}

{% block title %}Pendaftaran Beasiswa{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto bg-white p-8 border border-gray-300 rounded-lg shadow-md mt-10 mb-10">
    <h2 class="text-2xl font-bold mb-6 text-center text-teal-700">Formulir Pendaftaran Beasiswa Tahfizh</h2>
    <form method="post">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for field in form %}
            <div class="mb-4 {% if field.name == 'asal_sekolah' or field.name == 'nama' %}md:col-span-2{% endif %}">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 font-bold mb-2">{{ field.label
                    }}</label>
                {{ field }}
                {% if field.help_text %}
                <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="flex items-center justify-between mt-6">
            <button
                class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline w-full"
                type="submit">
                Kirim Pendaftaran
            </button>
        </div>
    </form>
</div>
{% endblock %}